fire
torch==2.5.1
transformers
tqdm
flash_attn==2.7.0.post2
vllm==0.7.2
latex2sympy2
numpy
pandas
peft
pylatexenc
ray==2.42.0
regex
Requests
ring_flash_attn
setuptools
srsly
sympy
timeout_decorator
wheel
word2number
pynvml==12.0.0
wandb==0.19.8
deepspeed==0.16.3